@inject AppState AppState
<AuthorizeView>
    <Authorized>
        <a href="#">Hello, @context.User.Identity.Name</a>
        <a href="/logout">@AlDente.Globalization.Strings.LogOut</a>
    </Authorized>
    <NotAuthorized>
        <a href="/register">@AlDente.Globalization.Strings.SignIn</a>
        <a href="/Login">@AlDente.Globalization.Strings.Login</a>
    </NotAuthorized>
</AuthorizeView>
@code{


}
