@inherits LayoutComponentBase
<ToastContainer></ToastContainer>

<div class="main">
    <NavMenu />
    @*<AuthorizeView Roles="Empleado">
            <Authorized>
                <PanelParaEmpleado />
            </Authorized>
        </AuthorizeView>*@
    <div class="content px-4 nopadding">
        @Body
    </div>
</div>



