<ul class="navbar-nav">
    <li class="nav-item active">
        <a href="/Reservar" class="nav-link">[Reservar]</a>
        @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
    </li>
    <li class="nav-item">
        <a href="/Menu" class="nav-link">[Menu]</a>
    </li>
    <li class="nav-item">
        <a href="/Clientes" class="nav-link">[Clientes]</a>
    </li>
    <li class="nav-item">
        <a href="/Mesas" class="nav-link">[Mesas]</a>
    </li>
    <li class="nav-item">
        <a href="/Turnos" class="nav-link">[Turnos]</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @context.User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/MisReservas">[Mis Reservas]</a>
            <a class="dropdown-item" href="/logout">@AlDente.Globalization.Strings.LogOut</a>
        </div>
    </li>
</ul>
@code{

    [Parameter]
    public AuthenticationState context { get; set; }
}
