<div class="@GetClass()">
    <div class="card">
        @if (HeaderTemplate == null)
        {
            <h4 class="card-header">@Header</h4>
        }
        else
        {
            @HeaderTemplate
        }
        <div class="card-body">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public bool UseDefaulClass { get; set; } = true;

    private string GetClass()
    {
        if (UseDefaulClass)
            return "col-md-10 offset-md-1 mt-5";
        return "mt-1";
    }
}
