@if (loading)
{
    <button @attributes="AdditionalAttributes" disabled>
        <span class="spinner-border spinner-border-sm mr-1"></span>
        @ChildContent
    </button>
}
else
{
    <button @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}


@code {
    [Parameter]
    public bool loading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }
}
