@using Syncfusion.Blazor.Buttons
<SfButton CssClass="e-info" ID="Buscar" OnClick="@Click" Disabled="loading" @attributes="AdditionalAttributes">
    @if (loading)
    {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
    @ChildContent
</SfButton>
@code {
    public bool loading { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public Func<Task> OnClick { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

    public async Task Click()
    {
        try
        {
            loading = true;
            await OnClick?.Invoke();
        }
        finally
        {
            loading = false;
        }
    }


}
