@page "/"
@using Contracts.Beneficios
@using Syncfusion.Blazor.Notifications
@using Data
@using Models.Index
@using BlazorTemplater

@inject SessionData _sessionData
@inject IBeneficioService _beneficioService
<header>
    @if (IndexModel != null)
    {
        <SfToast @ref="ToastObj" Title="Nuevo Beneficio" Timeout="0" ShowCloseButton="true" Icon="e-meeting" Content="@ToastContent">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    }

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/images/Burger.mp4" type="video/mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <AuthorizeView>
                    <Authorized>
                        <img src="/images/Logo-AlDente-W180.png" />
                        <a class="btn btn-lg btn-danger" href="/Reservar">[Reservar]</a>
                        <p class="lead mb-0">Bienvenido haz tu reserva y te estaremos esperando.</p>
                    </Authorized>
                    <NotAuthorized>
                        <img src="/images/Logo-AlDente-W180.png" />
                        <p class="lead mb-0">Bienvenido a la pagina de reservas de AlDente.</p>
                        <p class="lead mb-0">Aqui podras gestionar todas tus reservas.</p>
                        <p class="lead mb-0"> Mirar nuesto menu.</p>
                        <p class="lead mb-0">Y realizarnos cualquier opinion, sugerencia o calificacion.</p>
                        <p class="lead mb-0">Haz click <a class="btn btn-danger" href="/Login">Aqui</a> si ya tienes una cuenta. O crea una <a class="btn btn-success" href="/Register">Aqui</a>  y empieza a reservar.</p>
                    </NotAuthorized>
                </AuthorizeView>

            </div>
        </div>
    </div>
</header>
@code{
    SfToast ToastObj;
    private IndexViewModel IndexModel { get; set; }
    private string ToastContent { get; set; } = "Conference Room 01 / Building 135 10:00 AM-10:30 AM";
    private bool readyCall = false;

    protected async override Task OnInitializedAsync()
    {
        this.IndexModel = await IndexViewModel.Create(_beneficioService, _sessionData);
        await base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (IndexModel != null && !readyCall)
        {
            readyCall = true;
            await Task.Delay(600);
            foreach (var toastModel in IndexModel.ToastModels)
            {

                await this.ToastObj.ShowAsync(toastModel);
            }

        }
    }
}
