@page "/EstadosClientes/create"
@attribute [Authorize]
@using AlDente.Contracts.EstadosClientes
@inject NavigationManager uriHelper
@inject IJSRuntime js
@inject IEstadoClienteService EstadoClienteService
<h3>Create</h3>
<Form ButtonText="Create" Estado="@model"
      OnValidSubmit="@CreateEstado" />
@code {
    EstadoClienteDTO model = new EstadoClienteDTO();
    async Task CreateEstado()
    {
        await EstadoClienteService.Create(model);
        await js.InvokeVoidAsync("alert", $"Guardado Con Exito");
        uriHelper.NavigateTo("EstadosClientes");
    }
}