@page "/EstadosClientes/edit/{estadoClienteId:int}"
@attribute [Authorize]
@using AlDente.Contracts.EstadosClientes
@inject NavigationManager uriHelper
@inject IJSRuntime js
@inject IEstadoClienteService estadoClienteService

<h3>Edit</h3>
<Form ButtonText="Update" Estado="Estado"
      OnValidSubmit="@EditEstado" />
@code {
    [Parameter]
    public int estadoClienteId { get; set; }
    EstadoClienteDTO Estado = new EstadoClienteDTO();
    protected async override Task OnParametersSetAsync()
    {
        Estado = await estadoClienteService.GetById(estadoClienteId);
    }
    async Task EditEstado()
    {
        await estadoClienteService.Update(Estado);
        await js.InvokeVoidAsync("alert", $"Actualizado Correctamente!");
        uriHelper.NavigateTo("EstadosClientes");
    }
}