@page "/Opiniones"
@attribute [Authorize]
@using Syncfusion.Blazor.Grids
@using AlDente.Contracts.Opiniones
@using AlDente.Globalization
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons

@inject IOpinionService  _opinionService
@inject IToastService Toast
@inject Data.SessionData _sessionData
<MyCard>
    <HeaderTemplate>
        <div class="card-header">
            <h4 class="panel-title">
                <i class="fa fa-comments" aria-hidden="true"></i>
                Opiniones
                @*<SfButton CssClass="e-primary" OnClick="@ShowAgregarOpinion">Agregar Opinion</SfButton>*@
                <SfDialog AllowDragging="true" @bind-Visible="@dialogVisible" @ref="_nuevaOpinionDialog" IsModal="true" Width="285px" ShowCloseIcon="true">
            <DialogTemplates>
                <Content>
                    <NuevaOpinion Dialog="_nuevaOpinionDialog" />
                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
            <DialogEvents Closed="Refresh">

            </DialogEvents>
        </SfDialog>
        @*<span class="badge badge-secondary">10 New!!!</span>*@
            </h4>
        </div>
    </HeaderTemplate>
    <ChildContent>
        <Callout Type="Callout.CalloutType.Info">
            <h5>Si tiene una opinión sobre nosotros, no dude en hacernosla saber <SfButton CssClass="e-primary" OnClick="@ShowAgregarOpinion">Agregar Opinion</SfButton> </h5>
            <ul>
                @*<li><p>Aquí vera todas las opiniones de todos nuestros usuarios.</p></li>*@
                <li><p>Sea cordial y evite insultos indeseados, cada opinión será revisada y aprobada antes de su publicación.</p></li>
                <li>
                    <p>
                        También puede responder sobre otras opiniones haciendo click en el boton
                        <button type="button" class="btn btn-success btn-sm" title="Respond">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </button> de cada opinión.
                    </p>
                </li>
            </ul>
        </Callout>
        <OpinionesColeccion @ref="_opinioneComponent" />
    </ChildContent>
</MyCard>
<style>
    .e-removecommand .e-unboundcell .e-unboundcelldiv button {
        display: none;
    }
</style>
@code {
    bool dialogVisible { get; set; } = false;
    private SfDialog _nuevaOpinionDialog;
    private OpinionesColeccion _opinioneComponent;


    private void ShowAgregarOpinion()
    {
        this.dialogVisible = true;
    }


    private async Task Refresh()
    {
        await _opinioneComponent.Refresh();
        StateHasChanged();
    }
}
<style>


    .widget .list-group {
        margin-bottom: 0;
    }

    .widget .panel-title {
        display: inline
    }

    .widget .label-info {
        float: right;
    }

    .widget li.list-group-item {
        border-radius: 0;
        border: 0;
        border-top: 1px solid #ddd;
    }

        .widget li.list-group-item:hover {
            background-color: rgba(86,61,124,.1);
        }

    .widget .mic-info {
        color: #666666;
        font-size: 11px;
    }

    .widget .action {
        margin-top: 5px;
    }

    .widget .comment-text {
        font-size: 12px;
    }

    .widget .btn-block {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .animated {
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        transition: height 0.2s;
    }

    .stars {
        font-size: 24px;
        color: #d17581;
    }
</style>